@font-face {
    font-family: 'Terminal';
    src: url(fonts/VTSR____.TTF);
  }
body {
    margin: 0;
    background-color: black;
}
pre {
  background-color: black;
  border-style: none;
  box-shadow: none;
  margin: 0;
  font-size: 1rem;
}
.intro p, h1, h2, pre {
    color: white;
    font-family: "Terminal";
}
p {
    margin: 0;
}
.container {
    margin: 0.5vw;
}
.intro form {
    display: inline;
}

.start {
  position: absolute;
  left:35%;
  top: 10%;
  visibility: hidden;
}


.command-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100px;
    padding: 0;
    margin: 0;
    font-family: "Terminal";
    caret-shape: block;
  }

  .tab-content {
    display: none;
  }

  .tab-content p {
    margin: 3px;
  }

  .tab-content.active {
    display: block;
  }
